.welcome-message{
  font-size: 2.5em;
  background-color: rgb(130, 201, 130);
  color:  white;
  padding: 10px;
  border-radius: 5px;
  margin : 0;
}

.login-prompt{
  font-size: 2.5em;
  background-color: rgb(206, 108, 108);
  color:  white;
  padding: 10px;
  border-radius: 5px;
  margin : 0;
}